Source: tkdnn
Version: 2020-08-06
Description: tkDNN is a Deep Neural Network library built with cuDNN and tensorRT primitives, specifically thought to work on NVIDIA Jetson Boards
Build-Depends: cuda, cudnn, tensorrt, yaml-cpp, opengl (arm64)
